.homepage-container {
    position: relative;
    height: 100vh;
    display: flex;
  }
  
  .homepage-sidepanel {

    z-index: 10;
  }
  
  .homepage-map {
    flex-grow: 1;
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
  
